.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 400px; 
  padding: 20px;
  background-color: #333; 
  color: #fff; 
}

.option {
  margin-bottom: 10px;
}


#existingRoom {
  background-color: #444; 
  color: #fff; 
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}


#newRoom {
  background-color: #444; 
  color: #fff; 
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}


button {
  background-color: #555; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6; 
  cursor: not-allowed;
}

button:not(:last-child) {
  margin-right: 10px; 
}
